<div class="container">
  <h1 class="cover-heading">About</h1>
  <div>

    <div class="row section">
      <div class="col">
          <h2>Description</h2>
          <div class="card">
            <div class="card-body">
              <h3>Purpose</h3>
              <p>This project serves as a simple proof-of-ability demonstration by utilizing Microsoft technologies and services to create a real-time, data driven Azure hosted application. </p>
              <h3>Process</h3>
              <p>The ASP.NET Core server application connects to the Coinbase API using a WebSocket. Coinbase transmits real-time price updates every time a match occurs (i.e., when a buyer and seller transact for a given price). The server application then transmits this match price data to the Angular browser application using SignalR where it is visualized using Chart.js.</p>
              <h3>Potential </h3>
              <p>Using this technique, historical price data could be saved off and used to compute market indicators (i.e., Bollinger Bands, moving averages, etc.). </p>
            </div>
          </div> 
      </div>
    </div>

    <div class="row section">
      <div class="col">
        <h2>Technologies</h2>
        <div>
          <div class="row">
            <div class="col">
                <div class="card tech-stack">
                  <div class="card-body">
                    <h5 class="card-title">Client</h5>
                    <ul class="technologies">
                        <li><a href="https://www.chartjs.org/" target="_blank"><img src="../assets/logos/chartjs.svg" alt="Chart.js"> Chart.js</a></li>
                        <li><a href="http://getbootstrap.com/" target="_blank"><img src="../assets/logos/bootstrap.png" alt="Bootstrap UI 4"> Bootstrap UI 4</a></li>
                        <li><a href="https://www.asp.net/signalr" target="_blank"><img src="../assets/logos/signalr.png" alt="SignalR"> SignalR</a></li>
                        <li><a href="https://rxjs-dev.firebaseapp.com/" target="_blank"><img src="../assets/logos/rxjs.png" alt="RxJS 6"> RxJS 6</a></li>
                        <li><a href="https://www.typescriptlang.org/" target="_blank"><img src="../assets/logos/typescript.jpg" alt="TypeScript"> TypeScript</a></li>
                        <li><a href="https://angular.io/" target="_blank"><img src="../assets/logos/angular.svg" alt="Angular 6"> Angular 6</a></li>
                      </ul>
                  </div>
                </div>
            </div>
    
            <div class="col">
                <div class="card tech-stack">
                  <div class="card-body">
                    <h5 class="card-title">Server</h5>
                    <ul class="technologies">
                        <li><a href="https://www.asp.net/signalr" target="_blank"><img src="../assets/logos/signalr.png" alt="SignalR"> SignalR</a></li>
                        <li><a href="https://github.com/dougdellolio/coinbasepro-csharp" target="_blank"><img src="../assets/logos/coinbase.jpg" alt="Coinbase Client"> Coinbase Client</a></li>
                        <li><a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank"><img src="../assets/logos/csharp.jpg" alt="C#"> C#</a></li>
                        <li><a href="https://www.asp.net/core/overview/aspnet-vnext" target="_blank"><img src="../assets/logos/aspnetcore.jpg" alt="ASP.NET Core 2.1.0"> ASP.NET Core 2.1.0</a></li>
                      </ul>
                  </div>
                </div>
            </div>
    
            <div class="col">
                <div class="card tech-stack">
                  <div class="card-body">
                    <h5 class="card-title">3rd Party Services</h5>
                    <ul class="technologies">
                          <li><a href="https://docs.pro.coinbase.com/" target="_blank" alt="Coinbase API"><img src="../assets/logos/coinbase.jpg" alt="Chart.js"> Coinbase API</a> </li>
                      </ul>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>