
<div class="app-container text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Bitcoin Monitor</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="#">Ticker Chart</a>
          <a class="nav-link" href="#">About</a>
          <!-- <a class="nav-link" href="#">Contact</a> -->
        </nav>
      </div>
    </header>

    
    <main role="main" class="inner cover">
        <router-outlet></router-outlet>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>An Azure web app <a href="#">demo project</a>, by <a href="https://matthewevans87.github.io/resume/#/professional" target="_blank">Matthew Evans</a>.</p>
      </div>
    </footer>
  </div>
</div>

