
<div class="app-container">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto  text-center">
      <div class="inner">
        <h3 class="masthead-brand">Bitcoin Monitor</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" routerLink="/ticker-chart" routerLinkActive="active">Ticker Chart</a>
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </nav>
      </div>
    </header>
    <main role="main" class="inner cover">
        <router-outlet></router-outlet>
    </main>
    <footer class="mastfoot mt-auto text-center">
      <div class="inner">
        <p>An Azure web app <a href="#">demo project</a>, by <a href="https://matthewevans87.github.io/resume/#/professional" target="_blank">Matthew Evans</a>.</p>
      </div>
    </footer>
  </div>
</div>

